@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        //Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="container">
    <div class="login-container mt-4">
        <h1 class="text-center mb-4">Управление аккаунтом</h1>

        <div>
            <h2 class="mb-3">Измените параметры своего аккаунта</h2>
            <hr class="mb-4" />
            <div class="row">
                <div class="col-md-3">
                    <div class="card weekly-card mb-4">
                        <div class="card-header">Параметры учетной записи</div>
                        <div class="card-body p-10">
                            <partial name="_ManageNav" />
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card weekly-card">
                        <div class="card-body">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}