@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <section class="login-container">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Создать новый аккаунт</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <!-- Поле для логина (имени пользователя) -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Login"
                               class="form-control"
                               aria-required="true"
                               placeholder="username" />
                        <label asp-for="Input.Login" class="form-label">Логин</label>
                        <span asp-validation-for="Input.Login" class="text-danger"></span>
                    </div>

                    <!-- Поле для электронной почты -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email"
                               class="form-control"
                               autocomplete="email"
                               aria-required="true"
                               placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label">Электронная почта</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <!-- Поле для имени -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.FirstName"
                               class="form-control"
                               aria-required="true"
                               placeholder="Имя" />
                        <label asp-for="Input.FirstName" class="form-label">Имя</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>

                    <!-- Поле для фамилии -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.LastName"
                               class="form-control"
                               aria-required="true"
                               placeholder="Фамилия" />
                        <label asp-for="Input.LastName" class="form-label">Фамилия</label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>

                    <!-- Поле для Telegram ID -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.TelegramId"
                               class="form-control"
                               placeholder="Идентификатор Telegram" />
                        <label asp-for="Input.TelegramId" class="form-label">Идентификатор Telegram</label>
                        <span asp-validation-for="Input.TelegramId" class="text-danger"></span>
                    </div>

                    <!-- Поле для пароля -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password"
                               class="form-control"
                               autocomplete="new-password"
                               aria-required="true"
                               placeholder="password" />
                        <label asp-for="Input.Password" class="form-label">Пароль</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <!-- Поле для подтверждения пароля -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword"
                               class="form-control"
                               autocomplete="new-password"
                               aria-required="true"
                               placeholder="password" />
                        <label asp-for="Input.ConfirmPassword" class="form-label">Подтверждение пароля</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <!-- Кнопка регистрации -->
                    <div class="cta-buttons">
                        <button id="registerSubmit"
                                type="submit"
                                class="btn btn-primary cta-btn">
                            Зарегистрироваться
                        </button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}